<link rel="icon" href="../images/favicon.ico" type="image/x-icon">
<!-- Stylesheets-->
<link rel="stylesheet" type="text/css"
  href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500">
<link rel="stylesheet" href="../css/bootstrap.css">
<link rel="stylesheet" href="../css/fonts.css">
<link rel="stylesheet" href="../css/style.css">

<center>
  <div style="width: 98%;" class="content-main page">
    <!-- Swiper-->
    <section class="section swiper-container swiper-slider swiper-slider-2 swiper-slider-3" data-loop="true"
      data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
      <img src="../images/slide-1-1920x753.jpg" alt="">
    </section>
    <!-- What We Offer-->
    <section class="section section-md bg-default">
      <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Algunos de nuestros servicios</span></h3>
        <div class="row row-md row-30">
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img src="../images/menu-1-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-shirt"></span>
                  <h5 class="services-terri-title"><a href="#">Elaboración de prendas de vestir</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img src="../images/menu-2-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-button"></span>
                  <h5 class="services-terri-title"><a href="#">Arreglos de prendas de vestir</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img src="../images/menu-3-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-tie"></span>
                  <h5 class="services-terri-title"><a href="#">Elaboracion de accesorios</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img src="../images/menu-4-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-shorts"></span>
                  <h5 class="services-terri-title"><a href="#">Productos navideños</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInUp">
                <div class="services-terri-figure"><img src="../images/menu-5-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-pants"></span>
                  <h5 class="services-terri-title"><a href="#">Muñecos de porcelanicron</a></h5>
                </div>
              </article>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4">
            <div class="oh-desktop">
              <!-- Services Terri-->
              <article class="services-terri wow slideInDown">
                <div class="services-terri-figure"><img src="../images/menu-6-370x278.jpg" alt="" width="370"
                    height="278" />
                </div>
                <div class="services-terri-caption"><span class="services-terri-icon linearicons-hanger"></span>
                  <h5 class="services-terri-title"><a href="#">Viseras</a></h5>
                </div>
              </article>
            </div>
          </div>
        </div>
      </div>
    </section>
 

    <!-- Our Shop-->
    <section class="section section-lg bg-default">
      <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Selected Pizzas</span></h3>
        <div class="row row-lg row-30">
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".15s">
              <div class="product-figure"><img src="../images/product-1-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star text-gray-13"></span>
              </div>
              <h6 class="product-title">Margherita Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to
                    cart</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View
                    Product</a></div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".1s">
              <div class="product-figure"><img src="../images/product-2-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Mushroom Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to
                    cart</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View
                    Product</a></div>
              </div><span class="product-badge product-badge-new">New</span>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft" data-wow-delay=".05s">
              <div class="product-figure"><img src="../images/product-3-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star text-gray-13"></span>
              </div>
              <h6 class="product-title">Hawaiian Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to
                    cart</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View
                    Product</a></div>
              </div>
            </article>
          </div>
          <div class="col-sm-6 col-lg-4 col-xl-3">
            <!-- Product-->
            <article class="product wow fadeInLeft">
              <div class="product-figure"><img src="../images/product-4-161x162.png" alt="" width="161" height="162" />
              </div>
              <div class="product-rating"><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span
                  class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
              </div>
              <h6 class="product-title">Pesto Pizza</h6>
              <div class="product-price-wrap">
                <div class="product-price product-price-old">$40.00</div>
                <div class="product-price">$24.00</div>
              </div>
              <div class="product-button">
                <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to
                    cart</a></div>
                <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View
                    Product</a></div>
              </div><span class="product-badge product-badge-sale">Sale</span>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- Section CTA-->
    <section class="primary-overlay section parallax-container" data-parallax-img="../images/bg-4.jpg">
      <div class="parallax-content section-xxl context-dark text-md-left">
        <div class="container">
          <div class="row justify-content-end">
            <div class="col-sm-9 col-md-7 col-lg-5">
              <div class="cta-modern">
                <h3 class="cta-modern-title cta-modern-title-2 oh-desktop"><span
                    class="d-inline-block wow fadeInLeft">-30% on all salads & drinks</span></h3>
                <p class="cta-modern-text cta-modern-text-2 oh-desktop" data-wow-delay=".1s"><span
                    class="cta-modern-decor cta-modern-decor-2 wow slideInLeft"></span><span
                    class="d-inline-block wow slideInUp">Taste some of the best PizzaHouse salads!</span></p><a
                  class="button button-lg button-secondary button-winona wow fadeInRight" href="contacts.html"
                  data-wow-delay=".2s">contact us</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- What We Offer-->
    <section class="section section-xl bg-default">
      <div class="container">
        <h3 class="wow fadeInLeft">What People Say</h3>
      </div>
      <div class="container container-style-1">
        <div class="owl-carousel owl-style-12" data-items="1" data-sm-items="2" data-lg-items="3" data-margin="30"
          data-xl-margin="45" data-autoplay="true" data-nav="true" data-center="true" data-smart-speed="400">
          <!-- Quote Tara-->
          <article class="quote-tara">
            <div class="quote-tara-caption">
              <div class="quote-tara-text">
                <p class="q">PizzaHouse is the longest lasting pizza place in the city and is well run and staffed.
                  Prices are great and allow me to keep coming back.</p>
              </div>
              <div class="quote-tara-figure"><img src="../images/user-6-115x115.jpg" alt="" width="115" height="115" />
              </div>
            </div>
            <h6 class="quote-tara-author">Ashley Fitzgerald</h6>
            <div class="quote-tara-status">Client</div>
          </article>
          <!-- Quote Tara-->
          <article class="quote-tara">
            <div class="quote-tara-caption">
              <div class="quote-tara-text">
                <p class="q">I am a real pizza addict, and even when I’m home I prefer your pizzas to all others. They
                  taste awesome and are very affordable.</p>
              </div>
              <div class="quote-tara-figure"><img src="../images/user-8-115x115.jpg" alt="" width="115" height="115" />
              </div>
            </div>
            <h6 class="quote-tara-author">Stephanie Williams</h6>
            <div class="quote-tara-status">Client</div>
          </article>
          <!-- Quote Tara-->
          <article class="quote-tara">
            <div class="quote-tara-caption">
              <div class="quote-tara-text">
                <p class="q">PizzaHouse has amazing pizza. Not only do you get served with a great attitude, you also
                  get delicious pizza at a great price!</p>
              </div>
              <div class="quote-tara-figure"><img src="../images/user-7-115x115.jpg" alt="" width="115" height="115" />
              </div>
            </div>
            <h6 class="quote-tara-author">Bill Johnson</h6>
            <div class="quote-tara-status">Client</div>
          </article>
          <!-- Quote Tara-->
          <article class="quote-tara">
            <div class="quote-tara-caption">
              <div class="quote-tara-text">
                <p class="q">PizzaHouse has great pizza. Not only do you get served with a great attitude and delivered
                  delicious pizza, you get a great price.</p>
              </div>
              <div class="quote-tara-figure"><img src="../images/user-9-115x115.jpg" alt="" width="115" height="115" />
              </div>
            </div>
            <h6 class="quote-tara-author">Aaron Wilson</h6>
            <div class="quote-tara-status">Client</div>
          </article>
        </div>
      </div>
    </section>

    <section class="section section-last bg-default">
      <div class="container-fluidd container-inset-0 isotope-wrap">
        <div class="row row-10 gutters-10 isotope" data-isotope-layout="masonry" data-isotope-group="gallery"
          data-lightgallery="group">
          <div class="col-xs-6 col-sm-4 col-xl-2 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-2 wow slideInLeft"><a class="thumbnail-mary-figure"
                href="../images/gallery-1-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-1-310x585.jpg" alt="" width="310" height="585" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">Best Ingredients</a></h6>
                  <div class="thumbnail-mary-location">Tasty Pizza</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-8 col-xl-4 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-big wow slideInRight"><a
                class="thumbnail-mary-figure" href="../images/gallery-2-1200x800-original.jpg"
                data-lightgallery="item"><img src="../images/gallery-2-631x587.jpg" alt="" width="631"
                  height="587" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">Comfortable interior</a></h6>
                  <div class="thumbnail-mary-location">Modern Design</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-4 col-xl-2 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-2 wow slideInDown"><a class="thumbnail-mary-figure"
                href="../images/gallery-3-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-3-311x289.jpg" alt="" width="311" height="289" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">quality Dishware</a></h6>
                  <div class="thumbnail-mary-location">Top-notch utensils</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-8 col-xl-4 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary wow slideInUp"><a class="thumbnail-mary-figure"
                href="../images/gallery-4-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-4-631x289.jpg" alt="" width="631" height="289" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">Refreshing cocktails</a></h6>
                  <div class="thumbnail-mary-location">Exclusive selection</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-4 col-xl-2 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-2 wow slideInUp"><a class="thumbnail-mary-figure"
                href="../images/gallery-5-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-5-311x289.jpg" alt="" width="311" height="289" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">Exotic Salads</a></h6>
                  <div class="thumbnail-mary-location">Summer Taste</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-4 col-xl-2 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-2 wow slideInRight"><a class="thumbnail-mary-figure"
                href="../images/gallery-6-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-6-311x289.jpg" alt="" width="311" height="289" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">All Types of pizza</a></h6>
                  <div class="thumbnail-mary-location">Special Recipes</div>
                </div>
              </div>
            </article>
          </div>
          <div class="col-xs-6 col-sm-4 col-xl-2 isotope-item oh-desktop">
            <!-- Thumbnail Mary-->
            <article class="thumbnail thumbnail-mary thumbnail-mary-2 wow slideInLeft"><a class="thumbnail-mary-figure"
                href="../images/gallery-7-1200x800-original.jpg" data-lightgallery="item"><img
                  src="../images/gallery-7-311x289.jpg" alt="" width="311" height="289" /></a>
              <div class="thumbnail-mary-caption">
                <div>
                  <h6 class="thumbnail-mary-title"><a href="#">Diverse menu</a></h6>
                  <div class="thumbnail-mary-location">Pick Your Favorite dish</div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>

    <!-- Tell-->
    <section class="section section-sm section-first bg-default">
      <div class="container">
        <h3 class="heading-3">RESERVAS</h3>
        <form class="rd-form rd-mailform form-style-1" data-form-output="form-output-global" data-form-type="contact"
          method="post" action="bat/rd-mailform.php">
          <div class="row row-20 gutters-20">
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow slideInDown">
                <input class="form-input" id="contact-your-name-6" type="text" name="name" data-constraints="@Required">
                <label class="form-label" for="contact-your-name-6">Your Name*</label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow slideInUp">
                <input class="form-input" id="fecha_reserva" type="date" name="fecha"
                  data-constraints="@date @Required">
                <label class="form-label" for="contact-email-6"></label>
              </div>
            </div>
            <div class="col-md-6 col-lg-4 oh-desktop">
              <div class="form-wrap wow fadeIn">
                <label class="form-label" for="contact-time"></label>
                <input type="time" class="form-input" id="hora_reserva" name="time" data-constraints="@Required">
              </div>
            </div>
            <div class="col-12">
              <div class="form-wrap wow fadeIn">
                <label class="form-label" for="contact-message-6">Message</label>
                <textarea class="form-input textarea-lg" id="contact-message-6" name="message"
                  data-constraints="@Required"></textarea>
              </div>
            </div>
          </div>
          <div class="group-custom-1 group-middle oh-desktop">
            <button class="button button-lg button-primary button-winona wow fadeInRight" type="submit">Realizar
              reserva</button>
            <!-- Quote Classic-->
            <article class="quote-classic quote-classic-3 wow slideInDown">
              <div class="quote-classic-text">
                <p class="q">Por favor realizar la reserva dos dias despues de la fecha actual hasta dos semanas despues
                  de la misma.</p>
              </div>
            </article>
          </div>
        </form>
      </div>
    </section>
    <footer>
    </footer>
  </div>
</center>
<!-- Global Mailform Output-->
<div class="snackbars" id="form-output-global"></div>
<!-- Javascript-->
<script src="../js/core.min.js"></script>
<script src="../js/script.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Obtener el campo de fecha
    const fechaInput = document.getElementById('fecha_reserva');

    // Función para la validación
    function validarFechaSeleccionada() {
      const fechaSeleccionada = new Date(fechaInput.value);
      const fechaActual = new Date();
      const minDate = new Date();
      const maxDate = new Date();

      // Configurar el rango mínimo y máximo permitido
      minDate.setDate(fechaActual.getDate() + 2); // al menos 2 días desde hoy
      maxDate.setDate(fechaActual.getDate() + 14); // hasta 2 semanas desde hoy

      if (fechaSeleccionada < fechaActual) {
        alert('La fecha seleccionada no puede ser anterior a la fecha actual.');
        fechaInput.value = ''; // Limpiar el campo si la fecha es inválida
      } else if (fechaSeleccionada < minDate || fechaSeleccionada > maxDate) {
        alert('La fecha debe estar dentro del rango de 2 días a 2 semanas a partir de hoy.');
        fechaInput.value = ''; // Limpiar el campo si la fecha es inválida
      }
    }

    // Escuchar cambios en el campo de fecha para validar
    fechaInput.addEventListener('change', validarFechaSeleccionada);
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Obtener el campo de hora
    const horaInput = document.getElementById('hora_reserva');

    // Función para la validación
    function validarHoraSeleccionada() {
      const horaSeleccionada = new Date(`2000-01-01T${horaInput.value}`);
      const horaInicio = new Date(`2000-01-01T07:00`);
      const horaFin = new Date(`2000-01-01T18:00`);

      if (horaSeleccionada < horaInicio || horaSeleccionada > horaFin) {
        alert('Selecciona una hora entre las 7 am y las 6 pm.');
        horaInput.value = ''; // Limpiar el campo si la hora es inválida
      }
    }

    // Escuchar cambios en el campo de hora para validar
    horaInput.addEventListener('change', validarHoraSeleccionada);
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Obtener el campo de fecha y hora
    const fechaInput = document.getElementById('fecha_reserva');
    const horaInput = document.getElementById('hora_reserva');

    // Estructura de datos para almacenar fechas y horas reservadas (solo como ejemplo)
    const reservas = {
      '2023-11-30': ['14:00', '16:00'], // Ejemplo: el 30/11/2023 con reservas a las 2 PM y 4 PM
      // Puedes agregar más fechas y horas reservadas aquí
    };

    // Función para la validación de fecha y hora
    function validarFechaHoraSeleccionadas() {
      const fechaSeleccionada = fechaInput.value;
      const horaSeleccionada = horaInput.value;

      // Verificar si la fecha seleccionada está en las reservas
      if (reservas[fechaSeleccionada]) {
        // Si la fecha está reservada, verificar si la hora también está reservada
        if (reservas[fechaSeleccionada].includes(horaSeleccionada)) {
          alert('Ya hay una reserva para esa fecha y hora.');
          fechaInput.value = ''; // Limpiar el campo de fecha
          horaInput.value = ''; // Limpiar el campo de hora
        }
      }
    }

    // Escuchar cambios en los campos de fecha y hora para validar
    fechaInput.addEventListener('change', validarFechaHoraSeleccionadas);
    horaInput.addEventListener('change', validarFechaHoraSeleccionadas);
  });
</script>