<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Sign In</title>
    <meta name="format-detection" content="telephone=no" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <link rel="icon" href="../images/favicon.ico" type="image/x-icon" />
    <!-- Stylesheets-->
    <link
      rel="stylesheet"
      type="text/css"
      href="//fonts.googleapis.com/css?family=Roboto:100,300,300i,400,500,600,700,900%7CRaleway:500"
    />
    <link rel="stylesheet" href="../css/bootstrap.css" />
    <link rel="stylesheet" href="../css/fonts.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css"
    />
    <link rel="stylesheet" href="../css/signin.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/signin.js"></script>
</head>

<body>
    <div class="body">
        <form action="" class="form_main" id="loginForm" onsubmit="return validateLoginForm()">
            <p class="heading">Iniciar Sesión</p>
            <div class="inputContainer">
                <i class="bi bi-envelope inputIcon"></i>
                <input
                    type="email"
                    class="inputField"
                    id="email"
                    placeholder="Email"
                />
            </div>

            <div class="inputContainer">
                <i class="bi bi-lock-fill inputIcon"></i>
                <input
                    type="password"
                    class="inputField"
                    id="password"
                    placeholder="Contraseña"
                />
            </div>

            <button type="submit" id="button">Ingresar</button>
            <div style="z-index: 5; text-align: center">
                <a class="forgotLink" href="./forgot.html">Olvidé mi contraseña</a>
                <a class="forgotLink" href="#">Registrarme</a>
            </div>
        </form>
    </div>
</body>
</html>
