<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">
        <i class="mdi mdi-home menu-icon"></i>
        <span class="menu-title"> Home </span>
      </a>
    </li>
    <!-- <li class="nav-item">
        <a class="nav-link" href="dashboard.html">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title"> Dashboard </span>
        </a>
      </li> -->
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#config" aria-expanded="false" aria-controls="config">
        <i class="mdi mdi-settings menu-icon"></i>
        <span class="menu-title"> Configuración </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="config">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="roles.html"> Roles </a></li>
          <!-- <li class="nav-item"> <a class="nav-link" href="permisos.html"> Permisos </a></li> -->
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#users" aria-expanded="false" aria-controls="users">
        <i class="icon-head menu-icon"></i>
        <span class="menu-title"> Usuarios</span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="users">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="usuarios_dash.html"> Usuarios </a></li>
          <!-- <li class="nav-item"> <a class="nav-link" href="clientes_dash.html"> Clientes </a></li> -->
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#products" aria-expanded="false" aria-controls="products">
        <i class="mdi mdi-tshirt-crew menu-icon"></i>
        <span class="menu-title"> Productos </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="products">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="productos.html"> Productos </a></li>
          <li class="nav-item"> <a class="nav-link" href="tipo_productos.html"> T. Productos </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="collapse" href="#services" aria-expanded="false" aria-controls="services">
        <i class="mdi mdi-content-cut menu-icon"></i>
        <span class="menu-title"> Servicios </span>
        <i class="menu-arrow"></i>
      </a>
      <div class="collapse" id="services">
        <ul class="nav flex-column sub-menu">
          <li class="nav-item"> <a class="nav-link" href="servicios.html"> Servicios </a></li>
          <li class="nav-item"> <a class="nav-link" href="tipo_servicios.html"> T. Servicios </a></li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="pedidos.html">
        <i class="mdi mdi-clipboard-outline menu-icon"></i>
        <span class="menu-title"> Pedidos </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="ventas.html">
        <i class="mdi mdi-tag-outline menu-icon"></i>
        <span class="menu-title"> Ventas </span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="reservas.html">
        <i class="mdi mdi-calendar menu-icon"></i>
        <span class="menu-title"> Reservas </span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="compras.html">
        <i class="mdi mdi-calendar menu-icon"></i>
        <span class="menu-title"> Compras </span>
      </a>
    </li>
  </ul>
</nav>